<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>

    <style>
        * {
            color: #505050
        }

        p {
            margin: 0;
            padding: 0;
        }

        .header {
            padding-bottom: 1rem;
        }

        a {
            text-decoration: none;
            font-weight: 800;
        }

        .link {
            padding: 1rem 0 1rem;
        }
    </style>

    <body>
    <p class="header">Hello <i><b><span th:text="${username}">USERNAME-GOES-HERE</span></b></i>,</p><br>
        <p>You are receiving this email because you have requested a password reset on the Microart website.
            If you did not make this request, you can ignore this message. Click <b><u><a th:href="${passwordResetUrl}">here</a></u></b> to
            reset your password. The link is active for <span th:text="${tokenValidity}">TOKEN-VALIDITY-DURATION-GOES-HERE</span>
            minutes and can be used only once. If you have trouble opening the link, you can copy this address into your browser.</p><br>
        <p th:text="${passwordResetUrl}" class="link">PASSWORD-RESET-URL-GOES-HERE</p><br>
        <p>Best regards,</p>
        <p>Microart Team</p>
    </body>
</html>